# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# Ignore editor-specific files
.vscode/
.idea/
*.swp

# Ignore environment variables
.env

# Byte-compiled files
*.pyc

# Logs or debug output
*.log

# Ignore Jupyter notebooks checkpoints (if ever used)
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db


# Ignore all files in selenium_UI based_exploits folder
selenium_UI based_exploits/TravianOasisRaidRecodingHumanBehaviour.py
selenium_UI based_exploits/readme
selenium_UI based_exploits/runWithCookies.py
selenium_UI based_exploits/test_TravianVillagesRaidFirefox.py:Zone.Identifier
selenium_UI based_exploits/test_travianoasisraid.py:Zone.Identifier
selenium_UI based_exploits/test_travianoasisraidwithasserts.py
selenium_UI based_exploits/travian_cookies.json
selenium_UI based_exploits/travian_firefox.side
selenium_UI based_exploits/travian_firefox.side:Zone.Identifier